.api-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    row-gap: 20px;
}

list-item-btn{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}